@media screen and (max-width:1366px){
	/*home parallax text css Start*/
	.parallax-text{
		font-size: 215px;
		right: auto;
		left: 15px;
	}
	.digital-marketing .parallax-text{
		font-size: 175px;
	}
	/*home parallax text css End*/

	/*android-ios-app section Start*/
	.android-ios-app .image-effects img.iphone-x-large{
		left: -68px;
	}
	.android-ios-app .image-effects img.iphone-x{
		right: 0;
	}
	/*android-ios-app section End*/

	/*desktop-app section Start*/
	.desktop-app .image-effects img.macbook-small{
		left: -96px;
		top: 218px;
	}
	.desktop-app .image-effects img.macbook{
		top: 163px;
	}
	/*desktop-app section End*/


	/*footer section css Start*/
	.footer{
		padding: 65px 0;
	}
	/*footer section css End*/

	/*page title css Start*/
	.page-title {
		height: 75vh;
	}
	.page-title .page-title-desc h1{
		font-size: 170px;
	}
	/*page title css End*/

	/*work with us css Start*/
	.work-with-us{
		margin-bottom: 70px;
	}
	/*work with us css End*/

}
@media screen and (max-width:1280px){
	/*image effects div css Start*/
	.image-effects{
		min-height: 920px;
	}
	/*image effects div css End*/

	/*home parallax text css Start*/
	.parallax-text{
		font-size: 185px;
		width: 97%;
		text-align: center;
	}
	.digital-marketing .parallax-text{
		font-size: 160px;
	}
	.android-ios-app .image-effects img.iphone-x{
		right: -100px;
	}
	/*home parallax text css End*/

	/*desktop app section css Start*/
	.desktop-app .image-effects img.macbook-small{
		left: -103px;
		top: 171px;
	}
	/*desktop app section css End*/

	/*page title css Start*/
	.page-title .page-title-desc h1{
		font-size: 110px;
		margin: 0 0 10px;
	}
	/*page title css End*/

	/*services page css Strat*/
	.services{
		margin: 0;
	}
	.service{
		margin-bottom: 50px;
		padding-bottom: 50px;
	}
	/*services page css End*/

	
	.page-content h1{
		font-size: 30px;
	}
	.page-content p{
		font-size: 16px;
	}
}
@media screen and (max-width:990px){
	
	/*navbar css Start*/
	.navbar{
		padding: 20px 0 0;
	}
	/*navbar css Start*/

	/*slider section css Start*/
	.slider{
		padding: 90px 0 75px;
	}
	.slider .slider-image{
		margin-bottom: 75px;
	}
	.slider .slider-text h1{
		font-size: 30px;
	}
	/*slider section css End*/

	/*android-ios-app section Start*/
	.android-ios-app .image-effects img.iphone-x-large{
		left: 0;
	}
	.android-ios-app .image-effects img.iphone-x{
		top: 30px;
	}
	.android-ios-app .image-effects img.iphone-x-large{
		top: 83px;
	}
	/*android-ios-app section Start*/

	/*section content css Start*/
	.section-content{
		position: static;
		margin-top: 40px;
	}
	.section-content h1{
		font-size: 30px;
		margin: 0 0 30px;
	}
	.section-content p{
		font-size: 20px;
		margin-bottom: 30px;
	}
	/*section content css End*/

	/*design branding css Start*/
	.design-branding .image-effects{
		min-height: 617px;
	}
	.image-effects .branding-cup{
		display: none;
	}
	.design-branding .section-content a{
		margin-bottom: 40px;
	}
	.design-branding .section-content span{
		line-height: 25px;
		margin-bottom: 15px;
		font-size: 15px;
	}
	.image-effects .branding-letter{
		left: -44px;
	}
	.image-effects .branding-mobile{
		z-index: 2;
	}
	/*design branding css End*/

	/*desktop section css Start*/
	.desktop-app .image-effects{
		min-height: 878px;
	}
	.desktop-app .image-effects img.macbook{
		top: 60px;
	}
	.desktop-app .image-effects img.macbook-small{
		top: 76px;
	}
	/*desktop section css End*/
	

	/*digital marketing css Start*/
	.digital-marketing .image-effects{
		min-height: 400px;
	}
	.digital-marketing .image-effects .globe-circle{
		right: -37px;
	}
	/*digital marketing css End*/

	/*parallax text css Start*/
	.parallax-text{
		display: none;
	}
	/*parallax text css end*/

	/*footer css Start*/
	.footer-logo{
		text-align: center;
	}
	.footer .footer-data{
		margin-top: 30px;
	}
	.social-links{
		margin-top: 45px;
	}
	.social-links a{
		margin: 0 6%;
	}
	/*footer css End*/

	
	.work-with-us .get-in-touch{
		margin-bottom: 40px;
	}
	.work-with-us .get-in-touch h1{
		margin-bottom: 25px;
	}
	
	.page-content{
		margin: 50px 0;
	}
	.corporate-branding img {
		max-width: 400px;
		margin: auto auto 25px auto;
		width: 100%;
	}

}
@media screen and (max-width: 800px){

	/*android ios app section Start*/
	.android-ios-app .image-effects{
		min-height: 420px;
		/* min-height: 610px; */
	}
	.android-ios-app .image-effects img[class^="iphone"]{
		position: static;
	}
	.android-ios-app .image-effects img.iphone-x{
		display: none;
	}
	.android-ios-app .image-effects img.iphone-x-large{
		margin: 50px auto;
	}
	/* .android-ios-app .image-effects img.iphone-x-large{
		top: 29px;
		left: -68px;
	}
	.android-ios-app .image-effects img.iphone-x{
		right: -129px;
		top: 1px;
	} */
	/*android ios app section End*/

	/*desktop app css Start*/
	.desktop-app .image-effects{
		min-height: 364px;
		/* min-height: 546px; */
	}
	.desktop-app .image-effects img[class^="macbook"]{
		position: static;
		margin: 0 auto;
	}
	.desktop-app .image-effects img.macbook-small{
		display: none;
	}
	/* .desktop-app .image-effects img.macbook{
		top: 45px;
		left: -14px;
	}
	.desktop-app .image-effects img.macbook-small{
		top: 82px;
		left: -47px;
	} */
	/*desktop app css End*/
	/* Services Pages image center Start*/
	.heigh-quality-cover img {
		margin: auto;
	}
	.heigh-quality-cover .quality-industry img{
		margin: 0;
	}
	
}
@media screen and (min-width:480px) and (max-width:990px){
	.image-effects .branding-mobile{
		right: 14px;
		top: 48px;
	}
	.image-effects .branding-card{
		display: none;
	}
	.digital-marketing .image-effects{
		min-height: 670px;
	}
	.digital-marketing .image-effects .globe-circle{
		right: -70px;
	}
	.image-effects .branding-tube{
		right: 145px;
	}
}
@media screen and (max-width: 857px){
	.filtr-item{
		left: 50%;
		margin-left: -33%;
	}
}
@media screen and (min-width:800px) and (max-width:990px){
	.design-branding .image-effects{
		min-height: 816px;
	}
	.design-branding .image-effects{
		min-height: 800px;
	}
	.digital-marketing .image-effects{
		min-height: 833px;
	}
	/* Services Pages image center Start*/
	.heigh-quality-cover img {
		margin: auto;
	}
	.heigh-quality-cover .quality-industry img{
		margin: 0;
	}
	
	
}
@media screen and (max-width: 767px){
	.navbar{
		right: 0;
	}
	.footer .footer-data .phone-email{
		padding-top: 5px;
	}
	/*page title css Start*/
	.page-title .page-title-desc h1{
		font-size: 32px;
		margin: 0 0 8px;
	}
	.page-title .page-title-desc p{
		font-size: 20px;
	}
	.page-title{
		height: 58vh;
	}
	/*page title css End*/
	/* Services Pages image center Start*/
	.heigh-quality-cover img {
		margin: auto;
	}
	.heigh-quality-cover .quality-industry img{
		margin: 0;
	}

	/*services page css Start*/
	.service .service-image img{
		margin: 0;
	}
	.service .service-text ul li{
		font-size: 16px;
	}
	/*services page css End*/
	
	/* Services Pages image center End*/

	/*work page css Start*/
	.work-with-us .get-in-touch h1{
		margin-bottom: 20px;
	}
	.work-with-us .get-in-touch{
		margin-bottom: 65px;
	}
	.address-contact .contact-image{
		margin-bottom: 20px;
	}
	.address-contact .contact-detail h4{
		margin-bottom: 10px;
	}
	/*work page css End*/
	.heigh-quality-cover .industry .quality-industry {
		flex: 0 0 100%;
	}
	#close-st-menu i {
		font-size: 30px;
	}
	.profile-pic-fiverr {
	margin-bottom: 110px;
	}
}
@media screen and (max-width: 640px){
	.navbar.my-nav{
		padding: 4px 0;
	}
	.navbar-brand > img{
		height: 30px;
		margin-top: 9px;
	}
	.digital-marketing{
		margin-bottom: 0;
	}

	
}
@media screen and (max-width: 480px){
	.slider .slider-image{
		margin-bottom: 35px;
	}
	.slider .slider-image img{
		width: 117px;
	}
	.slider .slider-text h1{
		font-size: 24px;
	}
	.slider .slider-text h1 br{
		display: block;
	}
	.btn-primary{
		padding: 26px 53px 21px 69px;
	}
	.digital-marketing .image-effects{
		min-height: 374px;
	}
	.footer{
		text-align: center;
	}
	.social-links a .svg{
		width: 34px;
	}
	

	/*work page css Start*/
	.work-with-us .get-in-touch p br{
		display: none;
	}
	/*work page css End*/
}
@media screen and (max-width: 360px){
	.digital-marketing .image-effects{
		min-height: 278px;
	}
	
}
